.earthcon {
  background: #21223a;
  scale: 0.35;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sun {
  width: 150px;
  height: 150px;
  background: #fffaa9;
  border-radius: 100%;
  box-shadow: 0 0 60px #ffcfa9, 0 0 100px #b9a018;
  position: relative;
  left: 250px;
}
.sun .left-eye, .sun .left-eye::after {
  position: relative;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  background: #ffcfa9;
  width: 25px;
  height: 12.5px;
  transform: scale(1.5);
  top: 60px;
  left: 30px;
  animation: sun-lefteye 2.3s ease-in-out infinite;
}
.sun .left-eye::after {
  content: "";
  position: absolute;
  background: #fffaa9;
  left: 0px;
  top: 3px;
  transform: scale(0.9);
  animation: sun-eye-smol 2.3s ease-in-out infinite;
}
.sun .right-eye, .sun .right-eye::after {
  position: absolute;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  background: #ffcfa9;
  width: 25px;
  height: 12.5px;
  transform: scale(1.5);
  top: 60px;
  left: 90px;
  animation: sun-righteye 2.3s ease-in-out infinite;
}
.sun .right-eye::after {
  content: "";
  position: absolute;
  background: #fffaa9;
  left: 0px;
  top: 3px;
  transform: scale(0.9);
  animation: sun-eye-smol 2.3s ease-in-out infinite;
}

.left-eyelash, .right-eyelash::after, .left-eyelash::after,
.right-eyelash {
  position: relative;
  width: 2.5px;
  height: 8px;
  background: #ffcfa9;
  border-radius: 200px;
}

.left-eyelash, .right-eyelash::after, .left-eyelash::after {
  top: 2px;
  transform: rotate(-45deg);
}
.left-eyelash::after, .right-eyelash::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  transform: rotate(5deg);
}

.right-eyelash {
  top: -1px;
  left: 21px;
  transform: rotate(45deg);
}
.right-eyelash::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 3px;
}

.rays {
  position: absolute;
  transform-origin: center;
  margin: auto;
  width: 150px;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 120s linear infinite;
}

.beam {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #ffcfa9 40%, #ffcfa9);
  margin-left: 10px;
  border-radius: 50% 50% 0 0;
  position: absolute;
  opacity: 0.03;
  height: 110px;
}
.beam:nth-child(1) {
  width: 40px;
  transform: rotate(180deg);
  top: -90px;
  left: 42px;
}
.beam:nth-child(2) {
  width: 30px;
  transform: rotate(210deg);
  right: -5px;
  top: -80px;
}
.beam:nth-child(3) {
  width: 50px;
  transform: rotate(255deg);
  top: -20px;
  right: -65px;
}
.beam:nth-child(4) {
  width: 24px;
  transform: rotate(300deg);
  top: 60px;
  left: 150px;
}
.beam:nth-child(5) {
  width: 40px;
  top: 135px;
  left: 40px;
}
.beam:nth-child(6) {
  width: 30px;
  transform: rotate(-35deg);
  top: 115px;
  right: -12px;
}
.beam:nth-child(7) {
  width: 45px;
  transform: rotate(45deg);
  top: 100px;
  left: -45px;
}
.beam:nth-child(8) {
  width: 20px;
  transform: rotate(75deg);
  top: 40px;
  left: -70px;
}
.beam:nth-child(9) {
  width: 50px;
  transform: rotate(-250deg);
  top: -30px;
  left: -70px;
}
.beam:nth-child(10) {
  width: 20px;
  transform: rotate(145deg);
  top: -80px;
  left: -15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sun-lefteye {
  50% {
    left: 40px;
  }
}
@keyframes sun-eye-smol {
  50% {
    left: 0px;
  }
}
@keyframes sun-righteye {
  50% {
    left: 100px;
  }
}
.moon {
  width: 80px;
  height: 80px;
  background: #e3e7ea;
  border-radius: 100%;
  position: absolute;
  top: 110px;
  right: 130px;
  transform-origin: 200px center;
  overflow: hidden;
  transform: rotate(-20deg);
  animation: moonOrbit 5s infinite 0.3s;
}
.moon::after {
  content: "";
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 100%;
  position: absolute;
  box-shadow: inset 15px -3px 0px #637684;
  z-index: 3;
  opacity: 0.2;
}
.moon .craters {
  position: absolute;
  animation: moonScroll 5s linear infinite 0.3s;
}
.moon .craters:nth-child(1) {
  width: 40px;
  height: 40px;
  background: #ccd3d9;
  border-radius: 100%;
}
.moon .craters:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #ccd3d9;
  border-radius: 100%;
  left: 40px;
  top: 35px;
}
.moon .craters:nth-child(3) {
  width: 40px;
  height: 40px;
  background: #ccd3d9;
  border-radius: 100%;
  left: 60px;
}
.moon .craters:nth-child(4) {
  width: 20px;
  height: 20px;
  background: #ccd3d9;
  border-radius: 100%;
  top: 45px;
}
.moon .craters:nth-child(5) {
  width: 30px;
  height: 30px;
  background: #ccd3d9;
  border-radius: 100%;
  top: 55px;
  left: 30px;
}
.moon .eyes {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 35px;
  transform: translateX(-50);
}
.moon .eyes::before, .moon .eyes::after {
  display: block;
  content: "";
  position: relative;
  width: 20px;
  height: 5px;
  right: 25%;
  border-radius: 200px;
  background: #637684;
  margin: 0 3px;
  animation: blink 3.5s infinite;
}
.moon .eyes::before {
  transform: rotate(30deg);
}
.moon .eyes::after {
  transform: rotate(-30deg);
}

@keyframes moonOrbit {
  20%, 25% {
    transform: rotate(50deg);
  }
  55%, 60% {
    transform: rotate(-20deg);
  }
}
@keyframes blink {
  0% {
    top: 0px;
    height: 5px;
  }
  18% {
    top: 0px;
    height: 5px;
  }
  20% {
    top: 3px;
    height: 2px;
  }
  25% {
    top: 0px;
    height: 5px;
  }
  38% {
    top: 0px;
    height: 5px;
  }
  40% {
    top: 3px;
    height: 2px;
  }
  45% {
    top: 0px;
    height: 5px;
  }
  80% {
    top: 0px;
    height: 5px;
  }
  100% {
    top: 0px;
    height: 5px;
  }
}
.earth {
  position: absolute;
  display: block;
  right: 300px;
  top: 100px;
  width: 120px;
  height: 120px;
  background: #6fd4dd;
  border-radius: 100%;
  transform: rotate(-20deg);
  transform-origin: 400px center;
  overflow: hidden;
  animation: earthOrbit 5s infinite;
}
.earth::after {
  content: "";
  width: 120px;
  height: 120px;
  background: transparent;
  border-radius: 100%;
  position: absolute;
  box-shadow: inset 10px 1px 0px #1d747c;
  z-index: 3;
  opacity: 0.2;
}

@keyframes earthOrbit {
  20%, 25% {
    transform: rotate(50deg);
  }
  55%, 60% {
    transform: rotate(-20deg);
  }
}
.countries {
  position: absolute;
  z-index: 1;
  animation: scroll 5s linear alternate infinite;
}
.countries:nth-child(1) {
  width: 40px;
  height: 40px;
  background: #62e5aa;
  border-radius: 100%;
  left: 5px;
  top: 20px;
}
.countries:nth-child(2) {
  width: 50px;
  height: 50px;
  background: #62e5aa;
  border-radius: 100%;
  left: 25px;
  top: 45px;
}
.countries:nth-child(3) {
  width: 35px;
  height: 35px;
  background: #62e5aa;
  border-radius: 100%;
  left: 60px;
  top: 20px;
}
.countries:nth-child(4) {
  width: 55px;
  height: 55px;
  background: #62e5aa;
  border-radius: 100%;
  left: 90px;
  top: 50px;
}
.countries:nth-child(5) {
  width: 60px;
  height: 60px;
  background: #62e5aa;
  border-radius: 100%;
  left: 75px;
}
.countries:nth-child(6) {
  width: 50px;
  height: 50px;
  background: #62e5aa;
  border-radius: 100%;
  top: 110px;
  left: 35px;
}
.countries:nth-child(7) {
  width: 30px;
  height: 30px;
  background: #62e5aa;
  border-radius: 100%;
  top: 20px;
  left: -50px;
}

.eyes {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 25%;
}
.eyes .opened::before,
.eyes .opened::after {
  display: block;
  content: "♥";
  color: #f55020;
  font-size: 40px;
  margin: 0 8px;
  animation: openBlink 5s linear infinite;
}
.eyes .closed::before,
.eyes .closed::after {
  display: block;
  content: "";
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 5px 5px 0 0 #1d747c;
  margin: 8px 8px;
  transform: rotate(45deg);
  opacity: 0;
  animation: closedEyes 5s linear infinite;
}

.tear {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 0 50% 50% 50%;
  background: #54acb7;
  top: 65px;
  z-index: 3;
  left: 35px;
  opacity: 0;
  transform: rotate(60deg);
  animation: crying 5s infinite 3s;
}

@keyframes crying {
  from {
    opacity: 1;
    transform: translateY(0px) rotate(60deg);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes openBlink {
  0% {
    transform: scaleY(1);
  }
  18% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(1);
  }
  38% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0);
  }
  45% {
    transform: scaleY(1);
  }
  48% {
    transform: scaleY(0), scaleX(0);
    opacity: 1;
  }
  50% {
    margin-top: 8px;
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes closedEyes {
  45% {
    opacity: 0;
    margin-top: 8px;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}
.shadow {
  width: 100px;
  height: 100px;
  background: #21223a;
  border-radius: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0.2;
  right: 270px;
  top: 210px;
  transform-origin: 650px center;
  animation: shadowOrbit 5s infinite 0.3s;
}

@keyframes shadowOrbit {
  20%, 25% {
    transform: rotate(35deg);
  }
  55%, 60% {
    transform: rotate(0deg);
  }
}
@keyframes scroll {
  50% {
    transform: translateX(-90px);
  }
}
@keyframes moonScroll {
  50% {
    transform: translateX(-40px);
  }
}
.excited {
  position: absolute;
  font-weight: bold;
  font-family: Arial;
  z-index: -1;
  color: white;
  top: 200px;
  right: 400px;
  font-size: 0px;
  transform: rotate(-30deg);
  animation: excited 5s infinite 4.5s;
}

@keyframes excited {
  0% {
    font-size: 0px;
  }
  2% {
    font-size: 25px;
  }
  10% {
    opacity: 1;
    font-size: 25px;
  }
  20% {
    opacity: 0;
    font-size: 25px;
  }
  100% {
    opacity: 0;
    font-size: 0px;
  }
}
@keyframes star-animation {
  0% {
    transform: rotate(-20deg) translateX(-1000px);
  }
  100% {
    transform: rotate(-20deg) translateX(1000px);
  }
}
.stars1 {
  z-index: -1;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 79vh 584vh #FFF , 829vh 375vh #FFF , 221vh 51vh #FFF , 418vh 632vh #FFF , 55vh 482vh #FFF , 946vh 789vh #FFF , 347vh 195vh #FFF , 194vh 753vh #FFF , 619vh 448vh #FFF , 277vh 800vh #FFF , 935vh 367vh #FFF , 827vh 46vh #FFF , 326vh 648vh #FFF , 206vh 458vh #FFF , 16vh 128vh #FFF , 3vh 317vh #FFF , 969vh 879vh #FFF , 426vh 738vh #FFF , 862vh 554vh #FFF , 526vh 132vh #FFF , 717vh 315vh #FFF , 326vh 586vh #FFF , 195vh 614vh #FFF , 773vh 594vh #FFF , 716vh 751vh #FFF , 954vh 328vh #FFF , 997vh 415vh #FFF , 290vh 25vh #FFF , 684vh 806vh #FFF , 594vh 233vh #FFF , 564vh 252vh #FFF , 949vh 825vh #FFF , 970vh 133vh #FFF , 921vh 656vh #FFF , 573vh 256vh #FFF , 248vh 374vh #FFF , 921vh 525vh #FFF , 27vh 459vh #FFF , 525vh 656vh #FFF , 24vh 461vh #FFF , 209vh 396vh #FFF , 531vh 192vh #FFF , 115vh 510vh #FFF , 714vh 4vh #FFF , 753vh 553vh #FFF , 135vh 305vh #FFF , 151vh 484vh #FFF , 381vh 505vh #FFF , 1vh 881vh #FFF , 553vh 97vh #FFF , 549vh 146vh #FFF , 538vh 342vh #FFF , 709vh 5vh #FFF , 62vh 357vh #FFF , 625vh 128vh #FFF , 864vh 681vh #FFF , 851vh 730vh #FFF , 460vh 789vh #FFF , 577vh 500vh #FFF , 361vh 310vh #FFF , 73vh 622vh #FFF , 214vh 888vh #FFF , 140vh 387vh #FFF , 58vh 221vh #FFF , 89vh 671vh #FFF , 95vh 313vh #FFF , 271vh 414vh #FFF , 425vh 298vh #FFF , 954vh 621vh #FFF , 424vh 728vh #FFF , 803vh 211vh #FFF , 375vh 483vh #FFF , 475vh 493vh #FFF , 158vh 200vh #FFF , 95vh 251vh #FFF , 291vh 539vh #FFF , 338vh 582vh #FFF , 150vh 783vh #FFF , 176vh 176vh #FFF , 584vh 69vh #FFF , 906vh 54vh #FFF , 955vh 203vh #FFF , 488vh 626vh #FFF , 43vh 893vh #FFF , 12vh 561vh #FFF , 690vh 366vh #FFF , 377vh 744vh #FFF , 441vh 614vh #FFF , 737vh 541vh #FFF , 31vh 66vh #FFF , 773vh 602vh #FFF , 87vh 645vh #FFF , 269vh 679vh #FFF , 195vh 294vh #FFF , 636vh 309vh #FFF , 809vh 360vh #FFF , 667vh 620vh #FFF , 770vh 686vh #FFF , 446vh 197vh #FFF , 501vh 421vh #FFF , 910vh 746vh #FFF , 107vh 292vh #FFF , 924vh 247vh #FFF , 638vh 198vh #FFF , 578vh 639vh #FFF , 756vh 706vh #FFF , 982vh 391vh #FFF , 712vh 486vh #FFF , 513vh 241vh #FFF , 465vh 34vh #FFF , 274vh 27vh #FFF , 523vh 607vh #FFF , 483vh 701vh #FFF , 741vh 787vh #FFF , 896vh 252vh #FFF , 63vh 584vh #FFF , 792vh 570vh #FFF , 827vh 800vh #FFF , 938vh 462vh #FFF , 219vh 367vh #FFF , 927vh 510vh #FFF , 932vh 571vh #FFF , 724vh 185vh #FFF , 460vh 346vh #FFF , 534vh 129vh #FFF , 127vh 866vh #FFF , 111vh 621vh #FFF , 748vh 238vh #FFF , 583vh 434vh #FFF , 546vh 756vh #FFF , 89vh 592vh #FFF , 55vh 713vh #FFF , 177vh 526vh #FFF , 464vh 710vh #FFF , 770vh 659vh #FFF , 302vh 357vh #FFF , 93vh 128vh #FFF , 547vh 626vh #FFF , 406vh 406vh #FFF , 345vh 405vh #FFF , 11vh 435vh #FFF , 590vh 373vh #FFF , 423vh 822vh #FFF , 820vh 494vh #FFF , 193vh 891vh #FFF , 232vh 787vh #FFF , 852vh 803vh #FFF , 566vh 408vh #FFF , 568vh 83vh #FFF , 520vh 245vh #FFF , 22vh 237vh #FFF , 177vh 716vh #FFF , 614vh 759vh #FFF , 90vh 57vh #FFF , 746vh 386vh #FFF , 216vh 644vh #FFF , 256vh 753vh #FFF , 126vh 607vh #FFF , 552vh 664vh #FFF , 142vh 268vh #FFF , 590vh 124vh #FFF , 75vh 430vh #FFF , 882vh 5vh #FFF , 713vh 717vh #FFF , 26vh 798vh #FFF , 464vh 84vh #FFF , 953vh 108vh #FFF , 175vh 848vh #FFF , 44vh 807vh #FFF , 419vh 539vh #FFF , 759vh 575vh #FFF , 278vh 216vh #FFF , 634vh 772vh #FFF , 141vh 118vh #FFF , 36vh 367vh #FFF , 270vh 679vh #FFF , 992vh 424vh #FFF , 972vh 677vh #FFF , 308vh 424vh #FFF , 559vh 594vh #FFF , 377vh 880vh #FFF , 705vh 206vh #FFF , 892vh 289vh #FFF , 932vh 53vh #FFF , 715vh 650vh #FFF , 195vh 281vh #FFF , 932vh 188vh #FFF , 833vh 458vh #FFF , 885vh 40vh #FFF , 570vh 155vh #FFF , 527vh 9vh #FFF , 171vh 814vh #FFF , 81vh 279vh #FFF , 69vh 268vh #FFF , 314vh 747vh #FFF , 993vh 144vh #FFF , 553vh 179vh #FFF , 79vh 555vh #FFF , 872vh 260vh #FFF , 718vh 898vh #FFF , 314vh 825vh #FFF , 540vh 878vh #FFF , 224vh 490vh #FFF , 70vh 545vh #FFF , 177vh 436vh #FFF , 349vh 879vh #FFF , 416vh 599vh #FFF , 933vh 477vh #FFF , 963vh 847vh #FFF , 901vh 444vh #FFF , 251vh 391vh #FFF , 799vh 445vh #FFF , 265vh 469vh #FFF , 733vh 542vh #FFF , 81vh 845vh #FFF , 427vh 26vh #FFF , 444vh 500vh #FFF , 77vh 777vh #FFF , 351vh 650vh #FFF , 185vh 770vh #FFF , 504vh 503vh #FFF , 691vh 604vh #FFF , 776vh 599vh #FFF , 662vh 793vh #FFF , 291vh 544vh #FFF , 878vh 99vh #FFF , 403vh 674vh #FFF , 221vh 804vh #FFF , 687vh 809vh #FFF , 305vh 495vh #FFF , 178vh 44vh #FFF , 114vh 474vh #FFF , 182vh 317vh #FFF , 461vh 784vh #FFF , 52vh 5vh #FFF , 977vh 816vh #FFF , 954vh 16vh #FFF , 908vh 469vh #FFF , 489vh 546vh #FFF , 675vh 325vh #FFF , 812vh 697vh #FFF , 514vh 77vh #FFF , 770vh 839vh #FFF , 446vh 775vh #FFF , 432vh 158vh #FFF , 783vh 603vh #FFF , 44vh 500vh #FFF , 356vh 141vh #FFF , 951vh 118vh #FFF , 460vh 569vh #FFF , 244vh 857vh #FFF , 567vh 722vh #FFF , 418vh 337vh #FFF , 170vh 318vh #FFF , 812vh 437vh #FFF , 798vh 336vh #FFF , 398vh 96vh #FFF , 320vh 196vh #FFF , 188vh 570vh #FFF , 393vh 620vh #FFF , 365vh 664vh #FFF , 788vh 22vh #FFF , 708vh 115vh #FFF , 915vh 544vh #FFF , 17vh 23vh #FFF , 53vh 797vh #FFF , 168vh 678vh #FFF , 155vh 772vh #FFF , 677vh 86vh #FFF , 117vh 619vh #FFF , 762vh 64vh #FFF , 919vh 93vh #FFF , 843vh 234vh #FFF , 591vh 799vh #FFF , 15vh 836vh #FFF , 413vh 375vh #FFF , 314vh 738vh #FFF , 926vh 824vh #FFF , 806vh 348vh #FFF , 422vh 793vh #FFF , 85vh 736vh #FFF , 203vh 589vh #FFF , 669vh 603vh #FFF , 871vh 351vh #FFF , 569vh 513vh #FFF , 7vh 380vh #FFF , 805vh 470vh #FFF , 107vh 102vh #FFF , 613vh 883vh #FFF , 154vh 200vh #FFF , 454vh 355vh #FFF , 857vh 710vh #FFF , 391vh 685vh #FFF , 854vh 541vh #FFF , 97vh 648vh #FFF , 640vh 319vh #FFF , 364vh 593vh #FFF , 193vh 749vh #FFF , 971vh 824vh #FFF , 53vh 37vh #FFF , 540vh 288vh #FFF , 730vh 711vh #FFF , 468vh 433vh #FFF , 188vh 362vh #FFF , 349vh 174vh #FFF , 154vh 187vh #FFF , 715vh 878vh #FFF , 157vh 815vh #FFF , 589vh 409vh #FFF , 149vh 612vh #FFF , 558vh 546vh #FFF , 852vh 771vh #FFF , 530vh 311vh #FFF , 926vh 393vh #FFF , 945vh 411vh #FFF , 699vh 880vh #FFF , 300vh 216vh #FFF , 110vh 455vh #FFF , 900vh 597vh #FFF , 457vh 780vh #FFF , 924vh 830vh #FFF , 800vh 213vh #FFF , 370vh 860vh #FFF , 177vh 644vh #FFF , 130vh 786vh #FFF , 931vh 582vh #FFF , 807vh 870vh #FFF , 508vh 214vh #FFF , 407vh 18vh #FFF , 296vh 89vh #FFF , 715vh 434vh #FFF , 848vh 632vh #FFF , 675vh 726vh #FFF , 865vh 835vh #FFF , 930vh 647vh #FFF , 206vh 827vh #FFF , 151vh 371vh #FFF , 486vh 64vh #FFF , 524vh 225vh #FFF , 784vh 112vh #FFF , 913vh 283vh #FFF , 950vh 330vh #FFF , 209vh 78vh #FFF , 298vh 579vh #FFF , 195vh 637vh #FFF , 367vh 164vh #FFF , 342vh 609vh #FFF , 718vh 115vh #FFF , 142vh 351vh #FFF , 440vh 587vh #FFF , 508vh 172vh #FFF , 134vh 52vh #FFF , 528vh 485vh #FFF , 44vh 247vh #FFF , 933vh 47vh #FFF , 900vh 698vh #FFF , 716vh 132vh #FFF , 223vh 46vh #FFF , 740vh 300vh #FFF , 217vh 432vh #FFF , 245vh 721vh #FFF , 677vh 299vh #FFF , 116vh 491vh #FFF , 67vh 83vh #FFF , 732vh 685vh #FFF , 283vh 728vh #FFF , 292vh 511vh #FFF , 522vh 558vh #FFF , 626vh 536vh #FFF , 280vh 611vh #FFF , 728vh 519vh #FFF , 634vh 499vh #FFF , 651vh 788vh #FFF , 461vh 415vh #FFF , 64vh 213vh #FFF , 393vh 294vh #FFF , 822vh 796vh #FFF , 899vh 180vh #FFF , 241vh 504vh #FFF , 455vh 741vh #FFF , 250vh 761vh #FFF , 9vh 675vh #FFF , 914vh 523vh #FFF , 924vh 40vh #FFF , 793vh 781vh #FFF , 718vh 31vh #FFF , 501vh 857vh #FFF , 805vh 466vh #FFF , 120vh 795vh #FFF , 821vh 350vh #FFF , 337vh 742vh #FFF , 398vh 109vh #FFF , 824vh 75vh #FFF , 675vh 397vh #FFF , 684vh 211vh #FFF , 6vh 743vh #FFF , 439vh 128vh #FFF , 679vh 666vh #FFF , 375vh 158vh #FFF , 765vh 873vh #FFF;
  animation: star-animation 100s linear infinite;
}
.stars1:after {
  content: " ";
  top: -900px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 7vh 214vh #FFF , 478vh 707vh #FFF , 52vh 132vh #FFF , 129vh 120vh #FFF , 1vh 295vh #FFF , 310vh 683vh #FFF , 169vh 172vh #FFF , 497vh 362vh #FFF , 224vh 217vh #FFF , 428vh 743vh #FFF , 234vh 19vh #FFF , 139vh 638vh #FFF , 318vh 692vh #FFF , 201vh 366vh #FFF , 28vh 381vh #FFF , 377vh 356vh #FFF , 427vh 648vh #FFF , 332vh 483vh #FFF , 339vh 250vh #FFF , 307vh 124vh #FFF , 105vh 259vh #FFF , 488vh 174vh #FFF , 484vh 312vh #FFF , 245vh 449vh #FFF , 311vh 673vh #FFF , 389vh 796vh #FFF , 268vh 486vh #FFF , 431vh 407vh #FFF , 335vh 601vh #FFF , 57vh 155vh #FFF , 417vh 232vh #FFF , 33vh 440vh #FFF , 166vh 75vh #FFF , 484vh 175vh #FFF , 248vh 216vh #FFF , 405vh 627vh #FFF , 483vh 220vh #FFF , 29vh 646vh #FFF , 433vh 281vh #FFF , 474vh 172vh #FFF , 111vh 785vh #FFF , 93vh 535vh #FFF , 69vh 33vh #FFF , 142vh 34vh #FFF , 480vh 664vh #FFF , 337vh 280vh #FFF , 124vh 547vh #FFF , 153vh 765vh #FFF , 86vh 275vh #FFF , 7vh 371vh #FFF , 246vh 770vh #FFF , 334vh 160vh #FFF , 259vh 45vh #FFF , 126vh 762vh #FFF , 17vh 346vh #FFF , 29vh 160vh #FFF , 325vh 73vh #FFF , 232vh 461vh #FFF , 18vh 536vh #FFF , 204vh 788vh #FFF , 62vh 468vh #FFF , 127vh 306vh #FFF , 487vh 261vh #FFF , 346vh 462vh #FFF , 394vh 425vh #FFF , 278vh 617vh #FFF , 273vh 444vh #FFF , 342vh 597vh #FFF , 469vh 516vh #FFF , 195vh 687vh #FFF , 416vh 456vh #FFF , 68vh 694vh #FFF , 347vh 151vh #FFF , 110vh 346vh #FFF , 184vh 314vh #FFF , 28vh 465vh #FFF , 438vh 454vh #FFF , 29vh 144vh #FFF , 415vh 697vh #FFF , 248vh 361vh #FFF , 173vh 623vh #FFF , 279vh 55vh #FFF , 415vh 740vh #FFF , 485vh 455vh #FFF , 30vh 771vh #FFF , 119vh 375vh #FFF , 196vh 324vh #FFF , 313vh 112vh #FFF , 224vh 730vh #FFF , 111vh 54vh #FFF , 224vh 284vh #FFF , 83vh 152vh #FFF , 53vh 583vh #FFF , 59vh 262vh #FFF , 370vh 396vh #FFF , 421vh 394vh #FFF , 428vh 296vh #FFF , 317vh 132vh #FFF , 208vh 499vh #FFF , 416vh 51vh #FFF , 52vh 423vh #FFF , 418vh 77vh #FFF , 103vh 744vh #FFF , 49vh 744vh #FFF , 57vh 701vh #FFF , 367vh 231vh #FFF , 75vh 291vh #FFF , 335vh 619vh #FFF , 154vh 562vh #FFF , 128vh 546vh #FFF , 22vh 153vh #FFF , 109vh 398vh #FFF , 480vh 599vh #FFF , 357vh 454vh #FFF , 153vh 71vh #FFF , 64vh 128vh #FFF , 52vh 228vh #FFF , 45vh 372vh #FFF , 391vh 437vh #FFF , 226vh 24vh #FFF , 450vh 309vh #FFF , 330vh 241vh #FFF , 170vh 727vh #FFF , 204vh 476vh #FFF , 198vh 368vh #FFF , 499vh 792vh #FFF , 390vh 615vh #FFF , 134vh 288vh #FFF , 233vh 120vh #FFF , 484vh 536vh #FFF , 449vh 36vh #FFF , 482vh 9vh #FFF , 17vh 146vh #FFF , 380vh 503vh #FFF , 342vh 263vh #FFF , 398vh 234vh #FFF , 283vh 741vh #FFF , 478vh 433vh #FFF , 358vh 450vh #FFF , 411vh 694vh #FFF , 302vh 120vh #FFF , 234vh 180vh #FFF , 429vh 655vh #FFF , 373vh 236vh #FFF , 233vh 590vh #FFF , 22vh 9vh #FFF , 330vh 744vh #FFF , 357vh 5vh #FFF , 290vh 50vh #FFF , 208vh 430vh #FFF , 294vh 660vh #FFF , 200vh 473vh #FFF , 217vh 754vh #FFF , 318vh 580vh #FFF , 452vh 39vh #FFF , 479vh 217vh #FFF , 77vh 595vh #FFF , 443vh 18vh #FFF , 58vh 417vh #FFF , 240vh 480vh #FFF , 119vh 16vh #FFF , 393vh 377vh #FFF , 305vh 792vh #FFF , 31vh 696vh #FFF , 281vh 657vh #FFF , 404vh 688vh #FFF , 286vh 366vh #FFF , 39vh 162vh #FFF , 475vh 632vh #FFF , 261vh 553vh #FFF , 185vh 221vh #FFF , 58vh 262vh #FFF , 344vh 40vh #FFF , 356vh 407vh #FFF , 360vh 25vh #FFF , 37vh 13vh #FFF , 246vh 469vh #FFF , 176vh 214vh #FFF , 291vh 732vh #FFF , 343vh 561vh #FFF , 177vh 627vh #FFF , 48vh 466vh #FFF , 296vh 727vh #FFF , 272vh 719vh #FFF , 499vh 440vh #FFF , 268vh 773vh #FFF , 274vh 293vh #FFF , 169vh 699vh #FFF , 113vh 464vh #FFF , 325vh 452vh #FFF , 157vh 23vh #FFF , 295vh 698vh #FFF , 180vh 130vh #FFF , 105vh 369vh #FFF , 303vh 330vh #FFF , 241vh 329vh #FFF , 107vh 175vh #FFF , 348vh 777vh #FFF , 155vh 440vh #FFF , 190vh 441vh #FFF , 310vh 754vh #FFF , 368vh 77vh #FFF , 76vh 44vh #FFF , 95vh 337vh #FFF , 82vh 204vh #FFF , 191vh 72vh #FFF , 231vh 379vh #FFF , 379vh 451vh #FFF , 434vh 461vh #FFF , 127vh 725vh #FFF , 287vh 55vh #FFF , 39vh 457vh #FFF , 10vh 53vh #FFF , 208vh 793vh #FFF , 30vh 274vh #FFF , 334vh 763vh #FFF , 382vh 62vh #FFF , 338vh 50vh #FFF , 438vh 410vh #FFF , 9vh 209vh #FFF , 498vh 594vh #FFF , 454vh 681vh #FFF , 435vh 568vh #FFF , 371vh 328vh #FFF , 387vh 523vh #FFF , 397vh 211vh #FFF , 51vh 293vh #FFF , 313vh 281vh #FFF , 323vh 451vh #FFF , 70vh 421vh #FFF , 209vh 47vh #FFF , 486vh 97vh #FFF , 483vh 405vh #FFF , 171vh 50vh #FFF , 156vh 189vh #FFF , 340vh 475vh #FFF , 256vh 250vh #FFF , 287vh 195vh #FFF , 268vh 302vh #FFF , 201vh 740vh #FFF , 229vh 389vh #FFF , 366vh 97vh #FFF , 94vh 705vh #FFF , 488vh 419vh #FFF , 149vh 539vh #FFF , 315vh 266vh #FFF , 57vh 770vh #FFF , 474vh 73vh #FFF , 51vh 461vh #FFF , 325vh 409vh #FFF , 486vh 427vh #FFF , 407vh 11vh #FFF , 242vh 251vh #FFF , 187vh 24vh #FFF , 408vh 365vh #FFF , 36vh 774vh #FFF , 22vh 311vh #FFF , 481vh 182vh #FFF , 324vh 570vh #FFF , 337vh 770vh #FFF , 52vh 479vh #FFF , 254vh 683vh #FFF , 307vh 106vh #FFF , 272vh 552vh #FFF , 21vh 466vh #FFF , 389vh 457vh #FFF , 88vh 387vh #FFF , 78vh 306vh #FFF , 267vh 583vh #FFF , 462vh 154vh #FFF , 498vh 317vh #FFF , 50vh 627vh #FFF , 443vh 187vh #FFF , 38vh 385vh #FFF , 252vh 752vh #FFF , 447vh 108vh #FFF , 367vh 94vh #FFF , 110vh 589vh #FFF , 188vh 592vh #FFF , 153vh 443vh #FFF , 150vh 51vh #FFF , 252vh 419vh #FFF , 25vh 677vh #FFF , 353vh 11vh #FFF , 248vh 661vh #FFF , 23vh 112vh #FFF , 252vh 87vh #FFF , 217vh 632vh #FFF , 17vh 12vh #FFF , 100vh 522vh #FFF , 243vh 564vh #FFF , 104vh 121vh #FFF , 224vh 51vh #FFF , 109vh 559vh #FFF , 250vh 43vh #FFF , 273vh 800vh #FFF , 409vh 503vh #FFF , 42vh 122vh #FFF , 25vh 739vh #FFF , 352vh 17vh #FFF , 351vh 457vh #FFF , 40vh 796vh #FFF , 439vh 726vh #FFF , 250vh 723vh #FFF , 361vh 139vh #FFF , 139vh 431vh #FFF , 182vh 223vh #FFF , 447vh 756vh #FFF , 477vh 786vh #FFF , 226vh 613vh #FFF , 267vh 718vh #FFF , 284vh 91vh #FFF , 34vh 568vh #FFF , 178vh 132vh #FFF , 41vh 240vh #FFF , 10vh 489vh #FFF , 36vh 436vh #FFF , 55vh 376vh #FFF , 461vh 592vh #FFF , 494vh 182vh #FFF , 450vh 539vh #FFF , 56vh 444vh #FFF , 500vh 235vh #FFF , 128vh 512vh #FFF , 136vh 178vh #FFF , 380vh 519vh #FFF , 149vh 486vh #FFF , 40vh 384vh #FFF , 65vh 102vh #FFF , 374vh 460vh #FFF , 198vh 208vh #FFF , 207vh 208vh #FFF , 415vh 610vh #FFF , 124vh 790vh #FFF , 481vh 778vh #FFF , 344vh 150vh #FFF , 265vh 753vh #FFF , 129vh 649vh #FFF , 59vh 362vh #FFF , 181vh 456vh #FFF , 107vh 209vh #FFF , 59vh 649vh #FFF , 161vh 355vh #FFF , 462vh 354vh #FFF , 153vh 141vh #FFF , 334vh 70vh #FFF , 455vh 768vh #FFF , 10vh 542vh #FFF , 425vh 535vh #FFF , 89vh 574vh #FFF , 80vh 431vh #FFF , 164vh 731vh #FFF , 216vh 50vh #FFF , 161vh 172vh #FFF , 356vh 100vh #FFF , 265vh 81vh #FFF , 177vh 789vh #FFF , 489vh 688vh #FFF , 211vh 3vh #FFF , 176vh 50vh #FFF , 173vh 79vh #FFF , 47vh 100vh #FFF , 331vh 553vh #FFF , 345vh 205vh #FFF , 210vh 735vh #FFF , 389vh 77vh #FFF , 416vh 81vh #FFF , 315vh 327vh #FFF , 405vh 415vh #FFF , 394vh 71vh #FFF , 243vh 208vh #FFF , 493vh 514vh #FFF , 301vh 145vh #FFF , 351vh 651vh #FFF , 73vh 83vh #FFF , 331vh 20vh #FFF , 458vh 318vh #FFF , 246vh 198vh #FFF , 455vh 460vh #FFF , 445vh 185vh #FFF , 10vh 29vh #FFF , 69vh 707vh #FFF , 319vh 509vh #FFF , 161vh 206vh #FFF , 149vh 334vh #FFF , 477vh 622vh #FFF , 438vh 384vh #FFF , 97vh 66vh #FFF , 10vh 732vh #FFF , 379vh 559vh #FFF , 314vh 296vh #FFF , 245vh 702vh #FFF , 491vh 258vh #FFF , 287vh 380vh #FFF , 366vh 758vh #FFF , 243vh 546vh #FFF , 446vh 20vh #FFF , 435vh 135vh #FFF , 388vh 665vh #FFF , 196vh 714vh #FFF;
}

.stars2 {
  z-index: -1;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 293vh 198vh #FFF , 69vh 646vh #FFF , 225vh 91vh #FFF , 143vh 347vh #FFF , 422vh 97vh #FFF , 131vh 157vh #FFF , 629vh 274vh #FFF , 832vh 495vh #FFF , 247vh 237vh #FFF , 218vh 808vh #FFF , 385vh 395vh #FFF , 456vh 850vh #FFF , 409vh 523vh #FFF , 179vh 647vh #FFF , 478vh 19vh #FFF , 621vh 114vh #FFF , 777vh 317vh #FFF , 350vh 419vh #FFF , 936vh 406vh #FFF , 551vh 780vh #FFF , 60vh 848vh #FFF , 369vh 431vh #FFF , 538vh 494vh #FFF , 467vh 589vh #FFF , 282vh 91vh #FFF , 644vh 755vh #FFF , 207vh 726vh #FFF , 620vh 541vh #FFF , 163vh 36vh #FFF , 810vh 118vh #FFF , 599vh 303vh #FFF , 337vh 893vh #FFF , 213vh 685vh #FFF , 235vh 353vh #FFF , 911vh 351vh #FFF , 651vh 100vh #FFF , 787vh 535vh #FFF , 458vh 145vh #FFF , 596vh 807vh #FFF , 511vh 253vh #FFF , 752vh 84vh #FFF , 509vh 760vh #FFF , 273vh 502vh #FFF , 935vh 62vh #FFF , 507vh 243vh #FFF , 658vh 502vh #FFF , 819vh 796vh #FFF , 584vh 245vh #FFF , 315vh 728vh #FFF , 899vh 640vh #FFF , 345vh 643vh #FFF , 872vh 790vh #FFF , 829vh 747vh #FFF , 418vh 197vh #FFF , 834vh 742vh #FFF , 66vh 875vh #FFF , 703vh 891vh #FFF , 440vh 204vh #FFF , 726vh 118vh #FFF , 901vh 594vh #FFF , 282vh 3vh #FFF , 557vh 385vh #FFF , 604vh 573vh #FFF , 708vh 632vh #FFF , 674vh 635vh #FFF , 307vh 177vh #FFF , 757vh 866vh #FFF , 604vh 390vh #FFF , 301vh 670vh #FFF , 7vh 768vh #FFF , 352vh 831vh #FFF , 313vh 172vh #FFF , 751vh 526vh #FFF , 497vh 156vh #FFF , 542vh 894vh #FFF , 222vh 311vh #FFF , 913vh 455vh #FFF , 410vh 260vh #FFF , 632vh 68vh #FFF , 861vh 742vh #FFF , 529vh 306vh #FFF , 30vh 445vh #FFF , 672vh 627vh #FFF , 53vh 811vh #FFF , 473vh 25vh #FFF , 790vh 118vh #FFF , 917vh 523vh #FFF , 317vh 70vh #FFF , 84vh 144vh #FFF , 431vh 261vh #FFF , 902vh 86vh #FFF , 422vh 430vh #FFF , 322vh 94vh #FFF , 18vh 190vh #FFF , 595vh 583vh #FFF , 417vh 723vh #FFF , 203vh 748vh #FFF , 648vh 98vh #FFF , 588vh 187vh #FFF , 940vh 639vh #FFF , 643vh 784vh #FFF , 571vh 871vh #FFF , 946vh 82vh #FFF , 777vh 595vh #FFF , 313vh 870vh #FFF , 121vh 69vh #FFF , 732vh 374vh #FFF , 131vh 469vh #FFF , 406vh 735vh #FFF , 611vh 835vh #FFF , 318vh 284vh #FFF , 267vh 826vh #FFF , 886vh 214vh #FFF , 571vh 449vh #FFF , 605vh 492vh #FFF , 375vh 805vh #FFF , 962vh 869vh #FFF , 339vh 641vh #FFF , 181vh 141vh #FFF , 226vh 872vh #FFF , 725vh 675vh #FFF , 914vh 587vh #FFF , 128vh 704vh #FFF , 869vh 626vh #FFF , 114vh 110vh #FFF , 110vh 136vh #FFF , 557vh 635vh #FFF , 932vh 826vh #FFF , 439vh 412vh #FFF , 603vh 596vh #FFF , 854vh 738vh #FFF , 993vh 203vh #FFF , 548vh 634vh #FFF , 70vh 898vh #FFF , 530vh 395vh #FFF , 573vh 752vh #FFF , 89vh 350vh #FFF , 178vh 896vh #FFF , 246vh 841vh #FFF , 511vh 814vh #FFF , 530vh 793vh #FFF , 104vh 705vh #FFF , 14vh 266vh #FFF , 123vh 409vh #FFF , 178vh 449vh #FFF , 916vh 664vh #FFF , 485vh 282vh #FFF , 392vh 196vh #FFF , 535vh 765vh #FFF , 364vh 285vh #FFF , 432vh 821vh #FFF , 691vh 349vh #FFF , 573vh 590vh #FFF , 495vh 87vh #FFF , 135vh 608vh #FFF , 524vh 126vh #FFF , 960vh 243vh #FFF , 184vh 585vh #FFF , 906vh 601vh #FFF , 267vh 344vh #FFF , 919vh 72vh #FFF , 276vh 439vh #FFF , 737vh 560vh #FFF , 745vh 241vh #FFF , 318vh 211vh #FFF , 423vh 495vh #FFF , 852vh 805vh #FFF , 741vh 432vh #FFF , 201vh 799vh #FFF , 913vh 467vh #FFF , 984vh 782vh #FFF , 797vh 763vh #FFF , 473vh 662vh #FFF , 956vh 762vh #FFF , 612vh 746vh #FFF , 101vh 437vh #FFF , 61vh 341vh #FFF , 214vh 299vh #FFF , 281vh 770vh #FFF , 677vh 76vh #FFF , 823vh 600vh #FFF , 624vh 404vh #FFF , 553vh 241vh #FFF , 288vh 363vh #FFF , 225vh 29vh #FFF , 249vh 899vh #FFF , 363vh 792vh #FFF , 490vh 250vh #FFF , 34vh 247vh #FFF , 865vh 9vh #FFF , 935vh 143vh #FFF , 887vh 387vh #FFF , 226vh 338vh #FFF , 222vh 646vh #FFF , 77vh 685vh #FFF , 511vh 316vh #FFF , 945vh 820vh #FFF , 519vh 263vh #FFF , 136vh 146vh #FFF , 863vh 305vh #FFF , 163vh 421vh #FFF , 109vh 753vh #FFF , 336vh 646vh #FFF , 427vh 857vh #FFF , 319vh 732vh #FFF , 207vh 335vh #FFF , 923vh 57vh #FFF , 233vh 120vh #FFF , 370vh 392vh #FFF , 813vh 311vh #FFF , 105vh 890vh #FFF , 231vh 607vh #FFF , 177vh 767vh #FFF , 573vh 829vh #FFF , 878vh 704vh #FFF , 234vh 459vh #FFF , 770vh 163vh #FFF , 611vh 878vh #FFF , 907vh 191vh #FFF , 969vh 888vh #FFF , 282vh 95vh #FFF , 786vh 310vh #FFF , 949vh 34vh #FFF , 432vh 543vh #FFF , 837vh 184vh #FFF , 651vh 443vh #FFF , 296vh 883vh #FFF , 425vh 438vh #FFF , 144vh 815vh #FFF , 522vh 478vh #FFF , 619vh 831vh #FFF , 142vh 650vh #FFF , 84vh 789vh #FFF , 179vh 487vh #FFF , 677vh 359vh #FFF , 128vh 400vh #FFF , 318vh 519vh #FFF , 431vh 138vh #FFF , 128vh 513vh #FFF , 233vh 60vh #FFF , 977vh 10vh #FFF , 492vh 285vh #FFF , 168vh 772vh #FFF , 997vh 615vh #FFF , 116vh 364vh #FFF , 647vh 298vh #FFF , 175vh 565vh #FFF , 713vh 214vh #FFF , 228vh 557vh #FFF , 48vh 667vh #FFF;
  animation: star-animation 125s linear infinite;
}
.stars2:after {
  content: " ";
  top: -900px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 61vh 495vh #FFF , 63vh 579vh #FFF , 168vh 503vh #FFF , 163vh 760vh #FFF , 329vh 272vh #FFF , 182vh 299vh #FFF , 318vh 103vh #FFF , 216vh 42vh #FFF , 107vh 405vh #FFF , 445vh 600vh #FFF , 453vh 216vh #FFF , 96vh 705vh #FFF , 217vh 440vh #FFF , 272vh 778vh #FFF , 110vh 544vh #FFF , 286vh 514vh #FFF , 486vh 329vh #FFF , 300vh 631vh #FFF , 76vh 117vh #FFF , 278vh 135vh #FFF , 466vh 327vh #FFF , 283vh 202vh #FFF , 204vh 786vh #FFF , 8vh 230vh #FFF , 54vh 570vh #FFF , 455vh 445vh #FFF , 119vh 779vh #FFF , 154vh 714vh #FFF , 360vh 480vh #FFF , 148vh 700vh #FFF , 186vh 157vh #FFF , 440vh 412vh #FFF , 262vh 341vh #FFF , 352vh 53vh #FFF , 355vh 507vh #FFF , 111vh 598vh #FFF , 23vh 715vh #FFF , 387vh 617vh #FFF , 287vh 706vh #FFF , 94vh 432vh #FFF , 112vh 187vh #FFF , 7vh 137vh #FFF , 440vh 266vh #FFF , 348vh 280vh #FFF , 112vh 53vh #FFF , 83vh 177vh #FFF , 136vh 642vh #FFF , 393vh 306vh #FFF , 286vh 625vh #FFF , 160vh 163vh #FFF , 13vh 226vh #FFF , 138vh 427vh #FFF , 235vh 706vh #FFF , 308vh 267vh #FFF , 279vh 521vh #FFF , 112vh 555vh #FFF , 31vh 313vh #FFF , 281vh 439vh #FFF , 165vh 656vh #FFF , 467vh 795vh #FFF , 358vh 290vh #FFF , 451vh 485vh #FFF , 413vh 461vh #FFF , 365vh 658vh #FFF , 461vh 200vh #FFF , 304vh 391vh #FFF , 422vh 25vh #FFF , 208vh 139vh #FFF , 174vh 616vh #FFF , 91vh 245vh #FFF , 39vh 226vh #FFF , 128vh 142vh #FFF , 125vh 40vh #FFF , 297vh 610vh #FFF , 93vh 17vh #FFF , 47vh 601vh #FFF , 497vh 219vh #FFF , 109vh 483vh #FFF , 307vh 448vh #FFF , 195vh 396vh #FFF , 103vh 395vh #FFF , 459vh 104vh #FFF , 274vh 144vh #FFF , 229vh 319vh #FFF , 24vh 482vh #FFF , 97vh 218vh #FFF , 150vh 411vh #FFF , 488vh 677vh #FFF , 90vh 738vh #FFF , 96vh 251vh #FFF , 230vh 639vh #FFF , 81vh 648vh #FFF , 457vh 652vh #FFF , 227vh 646vh #FFF , 435vh 128vh #FFF , 79vh 175vh #FFF , 19vh 383vh #FFF , 398vh 33vh #FFF , 61vh 593vh #FFF , 27vh 455vh #FFF , 440vh 539vh #FFF , 470vh 476vh #FFF , 54vh 720vh #FFF , 382vh 106vh #FFF , 253vh 525vh #FFF , 484vh 330vh #FFF , 331vh 90vh #FFF , 35vh 455vh #FFF , 324vh 69vh #FFF , 203vh 573vh #FFF , 400vh 249vh #FFF , 123vh 267vh #FFF , 165vh 449vh #FFF , 243vh 335vh #FFF , 330vh 437vh #FFF , 495vh 398vh #FFF , 331vh 627vh #FFF , 340vh 669vh #FFF , 365vh 515vh #FFF , 348vh 264vh #FFF , 166vh 795vh #FFF , 335vh 279vh #FFF , 228vh 406vh #FFF , 336vh 620vh #FFF , 166vh 729vh #FFF , 132vh 756vh #FFF , 353vh 479vh #FFF , 9vh 326vh #FFF , 397vh 472vh #FFF , 444vh 633vh #FFF , 459vh 346vh #FFF , 354vh 182vh #FFF , 74vh 220vh #FFF , 112vh 623vh #FFF , 287vh 480vh #FFF , 241vh 368vh #FFF , 63vh 122vh #FFF , 177vh 713vh #FFF , 339vh 370vh #FFF , 417vh 368vh #FFF , 473vh 652vh #FFF , 473vh 334vh #FFF , 360vh 767vh #FFF , 402vh 228vh #FFF , 105vh 508vh #FFF , 407vh 123vh #FFF , 94vh 454vh #FFF , 363vh 356vh #FFF , 50vh 705vh #FFF , 290vh 143vh #FFF , 360vh 739vh #FFF , 95vh 461vh #FFF , 489vh 158vh #FFF , 409vh 189vh #FFF , 219vh 741vh #FFF , 47vh 129vh #FFF , 176vh 135vh #FFF , 140vh 38vh #FFF , 38vh 701vh #FFF , 320vh 459vh #FFF , 218vh 600vh #FFF , 442vh 115vh #FFF , 154vh 791vh #FFF , 476vh 148vh #FFF , 181vh 798vh #FFF , 197vh 346vh #FFF , 458vh 675vh #FFF , 92vh 670vh #FFF , 45vh 417vh #FFF , 339vh 502vh #FFF , 472vh 785vh #FFF , 293vh 349vh #FFF , 217vh 555vh #FFF , 156vh 126vh #FFF , 348vh 575vh #FFF , 35vh 191vh #FFF , 371vh 307vh #FFF , 474vh 333vh #FFF , 298vh 389vh #FFF , 263vh 258vh #FFF , 169vh 104vh #FFF , 25vh 490vh #FFF , 240vh 424vh #FFF , 471vh 464vh #FFF , 173vh 132vh #FFF , 88vh 515vh #FFF , 300vh 531vh #FFF , 96vh 35vh #FFF , 487vh 429vh #FFF , 458vh 757vh #FFF , 457vh 553vh #FFF , 28vh 288vh #FFF , 384vh 419vh #FFF , 57vh 587vh #FFF , 417vh 545vh #FFF , 214vh 609vh #FFF , 183vh 227vh #FFF , 102vh 357vh #FFF , 27vh 62vh #FFF , 464vh 678vh #FFF , 252vh 35vh #FFF , 66vh 623vh #FFF , 401vh 350vh #FFF , 356vh 658vh #FFF , 223vh 9vh #FFF , 312vh 799vh #FFF , 130vh 739vh #FFF , 156vh 574vh #FFF , 381vh 673vh #FFF , 205vh 275vh #FFF , 246vh 223vh #FFF , 361vh 526vh #FFF , 399vh 617vh #FFF , 202vh 45vh #FFF , 215vh 160vh #FFF , 190vh 497vh #FFF , 98vh 108vh #FFF , 269vh 502vh #FFF , 336vh 187vh #FFF , 257vh 327vh #FFF , 360vh 279vh #FFF , 444vh 197vh #FFF , 219vh 250vh #FFF , 276vh 643vh #FFF , 425vh 542vh #FFF , 38vh 113vh #FFF , 27vh 324vh #FFF , 229vh 219vh #FFF , 145vh 129vh #FFF , 9vh 732vh #FFF , 193vh 270vh #FFF , 410vh 174vh #FFF , 198vh 339vh #FFF , 399vh 317vh #FFF , 228vh 80vh #FFF , 313vh 562vh #FFF , 270vh 765vh #FFF , 229vh 739vh #FFF , 404vh 77vh #FFF , 96vh 661vh #FFF , 47vh 771vh #FFF , 383vh 375vh #FFF , 189vh 626vh #FFF , 337vh 725vh #FFF , 43vh 695vh #FFF , 308vh 28vh #FFF , 327vh 420vh #FFF , 225vh 792vh #FFF , 263vh 469vh #FFF , 416vh 386vh #FFF;
}

.stars3 {
  z-index: -1;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 38vh 484vh #FFF , 492vh 738vh #FFF , 280vh 51vh #FFF , 653vh 376vh #FFF , 891vh 178vh #FFF , 342vh 764vh #FFF , 720vh 572vh #FFF , 498vh 575vh #FFF , 1vh 78vh #FFF , 580vh 255vh #FFF , 336vh 864vh #FFF , 705vh 414vh #FFF , 283vh 686vh #FFF , 430vh 118vh #FFF , 686vh 164vh #FFF , 778vh 205vh #FFF , 333vh 428vh #FFF , 756vh 122vh #FFF , 342vh 9vh #FFF , 460vh 421vh #FFF;
  animation: star-animation 175s linear infinite;
}
.stars3:after {
  content: " ";
  top: -900px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 343vh 479vh #FFF , 181vh 766vh #FFF , 324vh 143vh #FFF , 327vh 787vh #FFF , 231vh 565vh #FFF , 203vh 614vh #FFF , 457vh 752vh #FFF , 129vh 393vh #FFF , 109vh 685vh #FFF , 478vh 629vh #FFF , 395vh 489vh #FFF , 348vh 616vh #FFF , 319vh 216vh #FFF , 313vh 5vh #FFF , 65vh 122vh #FFF , 388vh 552vh #FFF , 230vh 481vh #FFF , 159vh 161vh #FFF , 496vh 500vh #FFF , 290vh 536vh #FFF;
}