@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body {
    overflow: hidden;
    font-family: "Rajdhani", Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --h-padding: calc((100vw - 1440px) / 2 + 71px);
    --scrollnav-overlap: calc(160px - calc((100vw - 1440px) / 2 + 71px) + 4.7vw);
    --right-padding-scroll: calc(var(--h-padding) + var(--scrollnav-overlap));
    --left: calc(-720px + 50vw);
}

.triangle {
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

.bgsquare {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%); /* 스크롤 하면 60 40 40 60*/
}

@keyframes slide-up {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-200%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(200%);
    }
}

.slide-up {
    animation: slide-up 475200ms linear infinite;
}

.slide-down {
    animation: slide-down 475200ms linear infinite;
}

.ani-delay {
    animation-delay: -237600ms;
}

.circlecontainer {
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(-1 * 200px);
    left: calc(-1 * 200px);
    pointer-events: none;
}

.circlecontainer:nth-child(3n+1)>* {
    animation-direction: reverse;
}

@keyframes jiggle {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(1px, 1px) rotate(1deg);
    }

    75% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.circleinner {
    position: absolute;
    width: 109px;
    height: 109px;
    left: calc(50% - 109px / 2);
    top: calc(50% - 109px / 2);
    background: #111;
    border-radius: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 7px;
    pointer-events: all;
    color: #fff;
    animation: 400ms linear 0s infinite normal none running jiggle;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circlespin {
    position: absolute;
    width: 117px;
    height: 117px;
    left: calc(50% - 117px / 2);
    top: calc(50% - 117px / 2);
    border-radius: 100%;
    z-index: 0;
    pointer-events: all;
    cursor: pointer;
    background: url(../assets/img/circlegradient.png) 0% 0% / cover;
    animation: 30s linear 0s infinite normal none running spin;
    transition: -webkit-filter 1s linear;
}

.dotspin {
    position: absolute;
    left: calc(50% - 155px / 2);
    top: calc(50% - 155px / 2);
    width: 155px;
    height: 155px;
    background: url(../assets/img/orbit-dots-xs.svg);
    animation: 30s linear 0s infinite normal none running spin;
    pointer-events: none;
}

.boxtext {
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    color: rgb(17, 17, 17);
    padding: 18px 26px;
    white-space: nowrap;
    margin: 0px 8px 8px 0px;
    border: 1px dashed currentcolor;
    transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.boxtext2 {
    padding-left: 65px;
    display: grid;
    gap: 24px;
    position: absolute;
    width: 100%;
}

.boxtext3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    position: relative;
}

.boxtext4 {
    font-weight: 500;
    font-size: 11px;
    line-height: 9px;
    letter-spacing: 0.2px;
}

.boxtext5 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
}

.boxtext6 {
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: rgb(17, 17, 17);
}

.boxtext.selected {
    background: black;
}