@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body {
    overflow: hidden;
    font-family: "Rajdhani", Helvetica, sans-serif;
}

:root {
    --h-padding: calc((100vw - 1440px) / 2 + 71px);
    --scrollnav-overlap: calc(160px - calc((100vw - 1440px) / 2 + 71px) + 4.7vw);
    --right-padding-scroll: calc(var(--h-padding) + var(--scrollnav-overlap));
}

.triangle {
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

@keyframes slide-up {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        transform: translate3d(0px, -200%, 0px);
    }
}

@keyframes slide-down {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        transform: translate3d(0px, 200%, 0px);
    }
}

.slide-up {
    animation: slide-up 475200ms linear infinite;
    animation-delay: -237600ms;
}

.slide-down {
    animation: slide-down 475200ms linear infinite;
    animation-delay: -237600ms;
}